{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="header-content {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
   <div class="header-content">
      <div class="header-content-inner">
         <h1 class="page-title">{{@blog.title}}</h1>
         <h2 class="page-description">{{@blog.description}}</h2>
      </div>
   </div>
</header>

<!-- Team Section from Agency -->
<section id="team" class="bg-light-gray">
  <div class="container">
      <div class="row">
           <div class="col-lg-12 text-center">
               <h2 class="section-heading">Our Amazing Team</h2>
               <p class="section-subheading text-muted">UHERO Analytics is a small team merging the worlds of economics, data visualization, and design. We help the public digest economic insights through the use of compelling interactives that engage and inform. We create visualizations to support data analysis and the communication of economic insights.</p>
           </div>
      </div>
      <div class="row">
           <div class="col-sm-4">
               <div class="team-member">
                   <img src="assets/img/about/1.jpg" class="img-responsive img-circle" alt="">
                   <h4>Team-Member</h4>
                   <p class="text-muted">Lead Designer</p>
                   <ul class="list-inline social-buttons">
                       <li><a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="team-member">
                   <img src="assets/img/about/2.jpg" class="img-responsive img-circle" alt="">
                   <h4>Team-Member</h4>
                   <p class="text-muted">Lead Marketer</p>
                   <ul class="list-inline social-buttons">
                       <li><a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>
           <div class="col-sm-4">
               <div class="team-member">
                   <img src="assets/img/about/3.jpg" class="img-responsive img-circle" alt="">
                   <h4>Team-Member</h4>
                   <p class="text-muted">Lead Developer</p>
                   <ul class="list-inline social-buttons">
                       <li><a href="#"><i class="fa fa-twitter"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-facebook"></i></a>
                       </li>
                       <li><a href="#"><i class="fa fa-linkedin"></i></a>
                       </li>
                   </ul>
               </div>
           </div>
      </div>
  </div>
</section>
